version: '3.7'

services:
  app:
    build:
      context: .
      target: development
    command: "npm run start:dev"
    ports:
      - ${SERVER_PORT}:${SERVER_PORT}
    volumes:
      - .:/usr/src/app
    env_file:
      - .env
    depends_on:
      - redis
      - db
    networks:
      - appnet

  db:
    image: postgres
    environment:
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_USER: ${DB_USERNAME}
      POSTGRES_DB: ${DB_DATABASE_NAME}
      PG_DATA: /var/lib/postgresql/data
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
    networks:
      - appnet

  redis:
    image: redis:6.2.6-alpine3.14
    ports:
      - "6379:6379"
    networks:
      - appnet

volumes:
  pgdata:
networks:
  appnet: